apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendations
  labels:
    app: recommendations
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendations
  template:
    metadata:
      labels:
        app: recommendations
    spec:
      containers:
        - name: recommendations
          image: jinbi/recommendations:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50051

---
apiVersion: v1
kind: Service
metadata:
  name: recommendations
spec:
  selector:
    app: recommendations
  ports:
    - port: 50051
      targetPort: 50051
      protocol: TCP
  type: ClusterIP
